@forward "./reset.scss";

$clr-title: pink;

:root {
  // Colors
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-100: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  // Fonts
  --ff-default: "Montserrat", sans-serif;
  --ff-accent: "Fraunces", serif;

  --fw-500: 500;
  --fw-700: 700;

  --fs-400: 0.875rem; //14px

  --bp-mobile: 23.4375em; // 375px
  --bp-desktop: 90em; // 1440px

  --max-width: 40rem;
  --padding: 1rem;
  --spacer: 1rem;
}

body {
  font-family: var(--ff-default);
  font-weight: var(--fw-500);
  font-size: var(--fs-400);
  background-color: var(--clr-primary-100);
}

// Utilities

.container {
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.split {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;

  @media (min-width: 30em) {
    grid-auto-flow: column;
  }
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}

// general

.product-image {
  object-fit: cover;
}
