@forward "./reset.scss";

:root {
  // Colors
  --clr-primary-700: hsl(158, 36%, 22%);
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-100: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%, 0.8);
  --clr-neutral-100: hsl(0, 0%, 100%);

  // Fonts
  --ff-default: "Montserrat", sans-serif;
  --ff-accent: "Fraunces", serif;

  --fw-500: 500;
  --fw-700: 700;

  --fs-300: 0.75rem; //12px
  --fs-400: 0.875rem; //14px
  --fs-600: 2rem; //32px

  --bp-mobile: 23.4375em; // 375px
  --bp-desktop: 90em; // 1440px

  --max-width: 37.5rem;
  --padding: 1rem;
  --spacer: 1.1rem;
}

body {
  font-family: var(--ff-default);
  font-weight: var(--fw-500);
  font-size: var(--fs-400);
  line-height: 1.7;
  color: var(--clr-neutral-400);
  background-color: var(--clr-primary-100);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

h1 {
  font-family: var(--ff-accent);
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  line-height: 1;
  color: var(--clr-neutral-900);
}

// Utilities

.container {
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.split {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;

  @media (min-width: 30em) {
    grid-auto-flow: column;
  }
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}

// general

.preview {
  border-radius: 10px;
  overflow: hidden;
}

.product-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  background-color: var(--clr-neutral-100);
  padding: 2rem;
}

.pre-heading {
  font-size: var(--fs-300);
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.description {
  margin-top: 1.4rem !important;
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price-sale {
  font-family: var(--ff-accent);
  font-size: var(--fs-600);
  font-weight: var(--fw-500);
  color: var(--clr-primary-400);
}

.price-original {
  text-decoration: line-through;
}

.button {
  display: inline-flex;
  place-items: center;
  justify-content: center;
  font-weight: var(--fw-700);
  font-stretch: semi-expanded;
  gap: 0.6rem;
  width: 100%;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 1.2em 1.5em;

  &:hover {
    background-color: var(--clr-primary-700);
  }

  img {
    display: inline;
  }
}
